/* RESET STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* BASE VARIABLES */
:root {
    /* COLORS */
    --primary-color: #1f90fb;
    --secondary-color: #a3d5ef;
    --dark-color: #404040;
    --light-color: white;
    --gray-color: #F8F8F8;
    --accent-color: #ffd000;
    --link-color: #1C3B6B;
    --green: #00A934;
    --green-border: #007725;
    --low-color: #00a934;
    --low-color-border: #007725;
    --moderate-color: #F3B06D;
    --moderate-color-border: #B97B36;
    --warning-color: #E9776F;
    --warning-border: #D6452C;
    

    /* SHADOWS */
    --shadow-sm: 0rem 0.2rem 0.3rem hsla(0, 0%, 0%, 0.1);
    --shadow-md: 0rem 0.2rem 0.3rem hsla(0, 0%, 0%, 0.2);
    --shadow-lg: 0rem 0.3rem 0.3rem hsla(0, 0%, 0%, 0.3);

    /* SPACING */
    --base-padding: 1.5rem;
    --base-padding-sm: 1rem;
    --base-padding-lg: 2rem;
    --base-margin: 1.5rem;
    --header-padding: 2rem;

    /* TYPOGRAPHY */
    --base-font-size: 1rem;
    --small-font-size: 0.8rem;
    --large-font-size: 1.2rem;
    --small-font-weight: 300;

    /* BORDER */
    --base-border-radius: 0.5rem;
    --base-border-radius-lg: 1rem;
    --base-border-style: 1px solid;
    --base-border-color: #CDCDCD;
}



/* MAIN */

body {
    transform: scale(0.75); 
    transform-origin: 0 0; 
    width: 133.33vw;
    height: 133.33vw;
}

main {
    height: 100vh;
    display: grid;
    text-align: center;
    align-items: center;
}

.background-gradient {
    background: linear-gradient(var(--primary-color), var(--secondary-color));
    height: 100%;
}

/* h1, ZIPCODE, AND ADDRESS INPUT STYLING */
.home h1 {
    color: var(--light-color);
    padding: var(--base-padding-lg);
}

.home input {
    padding: var(--base-padding-sm);
    border-radius: var(--base-border-radius);
    border: var(--base-border-style);
    border-color: var(--base-border-color);
    font-weight: var(--small-font-weight);
    text-align: center;
    box-shadow: var(--shadow-sm);
}

.home .use-current-address {
    background-color: var(--green);
    border-color: var(--green-border);
    color: var(--light-color);
}

.home .use-current-address::placeholder {
    color: var(--light-color);
}

.home p {
    padding: var(--base-padding-sm);
    color: var(--light-color);
    font-weight: var(--small-font-weight);
    font-size: var(--small-font-size);
}

/* NAVBAR STYLING */
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: var(--light-color);
    padding: var(--base-padding-sm);
    box-shadow: var(--shadow-md);
    position: relative;
}

nav ul {
    display: contents;
    

}

nav li {
    list-style: none;
    text-align: center;
    font-weight: bold;
    color: var(--dark-color);
}

nav li:first-child {
    text-align: left;
}

nav li:last-child {
    text-align: right;
}

/* HIDDEN FAQ STYLING */
.faq {
    background-color: var(--light-color);
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    /* border: 1px solid red; */
}

.faq-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: var(--dark-color);
    padding: 0.9rem;
    box-shadow: var(--shadow-md);
    position: sticky;
    top: 0; /* This ensures it sticks to the top of the screen */
    background-color: var(--light-color); /* Ensure the background doesn't become transparent when scrolling */
    z-index: 100;
}

.faq-top:first-child {
    text-align: left;
}

.faq-top:last-child {
    text-align: right;
}

.faq-links {
    overflow-y: auto;
}

.faq-links li {
    text-align: left;
    font-weight: var(--small-font-weight);
    list-style: none;
    padding: var(--base-padding);
    color: var(--link-color);
    transition: 0.2s ease-in-out;
}

.faq-links li:hover {
    font-weight: bold;
    cursor: pointer;
}

.close-button {
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #404040;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* HIDDEN SETTINGS STYLING */
.settings {
    background-color: var(--light-color);
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    /* background-color: hsla(0, 0%, 85%, 0.751); */
    /* border: 1px solid red; */
}

.settings-top  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: var(--dark-color);
    padding: 0.9rem;
    box-shadow: var(--shadow-md);
    position: sticky;
    top: 0; /* This ensures it sticks to the top of the screen */
    background-color: var(--light-color); /* Ensure the background doesn't become transparent when scrolling */
    z-index: 105;

}

.settings-top:first-child {
    text-align: left;
}

.settings-top:last-child {
    text-align: right;
}

.settings-btns-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem; 
    padding: var(--base-padding-sm);
    overflow-y: auto;
    box-shadow: var(--shadow-sm)
}

.settings-btns-container h3 {
    text-align: left;
    color: var(--dark-color);
}

.settings-btns-container button {
    padding:var(--base-padding-sm);
    border-radius:var(--base-border-radius);
    text-align: center;
    width: 100%;
    margin-top: var(--base-margin);
    font-weight: var(--small-font-weight);
    border-style: var(--base-border-style);
    border-color: var(--base-border-color);
    background-color: #e8e8e8;
    box-shadow: var(--shadow-md);
}

.settings-temp .on, .settings-wind .on, .settings-theme .on {
    background-color: var(--green);
    color:var(--light-color);
    border: var(--base-border-style);
    border-color: var(--green-border);
}

.settings-save {
    width: 100%;
}

.settings-save button {
    background-color: black;
    color: white;
    border-radius: var(--base-border-radius);
    border-style: var(--base-border-style);
    font-weight: var(--small-font-weight);
    /* margin-top: 0; LEAVING THIS HERE FOR NOW */
}

.settings-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--base-padding-sm);

}

.settings-footer ul {
    display: contents;
}

.settings-footer li {
    list-style: none;
    font-size: var(--small-font-size);
    font-weight: var(--small-font-weight);
    color: var(--link-color);
}

.settings-footer li:first-child {
    list-style: none;
    text-align: left;
}

.settings-footer li:last-child {
    list-style: none;
    text-align: right;
}

/* CONTACT STYLING */
.contact {
    background-color: var(--light-color);
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    /* background-color: hsla(0, 0%, 85%, 0.962); */
    /* border: 1px solid red; */
}

.contact-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: var(--dark-color);
    padding: 0.9rem;
    box-shadow: var(--shadow-md);
    position: sticky;
    top: 0; /* This ensures it sticks to the top of the screen */
    background-color: var(--light-color); /* Ensure the background doesn't become transparent when scrolling */
    z-index: 105;
}

.contact-top:first-child {
    text-align: left;
}

.settings-top:last-child {
    text-align: right;
}

.contact-input-container {
    padding: var(--base-padding-sm);
    overflow-y: auto;
    box-shadow: var(--shadow-sm)
}

.contact-input-container h3 {
    text-align: left;
    color: var(--dark-color);
}

.contact-input-container input {
    padding: var(--base-padding-sm);
    border-radius: var(--base-border-radius);
    border-style: var(--base-border-style);
    border-color: var(--base-border-color);
    background-color: #f2f2f2;
    width: 100%;
    margin-top: var(--base-margin);
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;

}

.contact-input-container .message {
    width: 100%;
    height: 25vh;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;

}

.contact-input-container .message::placeholder {
    text-align: left;
    position: absolute;
    top: 1rem;
}

.contact-input-container .submit-button {
    padding-top: var(--base-padding-lg);
    padding-bottom: var(--base-padding-lg);

}

.contact-input-container .submit-button button {
    padding: var(--base-padding-sm);
    border-radius: var(--base-border-radius);
    text-align: center;
    width: 100%;
    font-weight: var(--small-font-weight);
    border-style: var(--base-border-style);
    border-color: var(--green-border);
    background-color: var(--green);
    color: white;
    box-shadow: var(--shadow-md);
}

/* OVERLAY STYLING */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

/* RUNTIPS STYLING */
.runtips {
    background-color: var(--light-color);
    color: var(--dark-color);
    position: fixed;
    width: 90%;
    max-width: 30rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--base-border-radius);
    overflow: hidden;
    padding-bottom: var(--base-padding);
    box-shadow: var(--shadow-md);
}

.runtips-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: var(--base-padding-sm);
    background-color: var(--light-color);
    z-index: 105;
    top: 0;
}

.runtips-top:first-child {
    text-align: left;
    display: block;
}

.runtips-top:last-child {
    text-align: right;
    display: block;
}

.runtips-content {
    padding: var(--base-padding-sm);
    overflow-y: auto;
}

.runtips-content p {
    text-align: left;
}

/* WEATHER MAIN STYLING */
.weather-main-container {
    display: grid;
    grid-template-rows: auto 1fr;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--light-color);
    background-color: hsla(0, 0%, 85%, 0.0);
}

.weather-main-top {
/*    border: 1px solid red;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    color: var(--light-color);
    padding: var(--base-padding-sm);
    text-shadow: var(--shadow-sm);
}

.weather-main-top h1 {
    text-align: left;
    font-size: 4rem;
    align-self: start;
}

.weather-main-top h2 {
    text-align: right;
    font-size: 3rem;
    align-self: center;
}

.weather-main-top p:first-of-type {
    text-align: left;
}

.weather-main-top p:last-of-type {
    text-align: right;
}

.weather-main-middle {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    color: var(--dark-color);
    padding: var(--base-padding-sm);
    text-shadow: var(--shadow-sm);
/*    border: 1px solid red;*/
    overflow: hidden;
}

.weather-main-middle input {
    padding: var(--base-padding-sm);
    border-radius: var(--base-border-radius);
    border: var(--base-border-style);
    border-color: var(--base-border-color);
    font-weight: var(--small-font-weight);
    text-align: center;
    align-self: start;
    box-shadow: var(--shadow-sm);
}

.weather-main-middle svg {
    align-self: start;
    justify-self: end;
    width: 6rem;
    height: 6rem;
}

.weather-main-bottom {
    background-color: var(--light-color);
    text-align: left;
    padding: var(--base-padding-lg);
    width: 95%;
    margin: 0 auto;
    background-color: hsla(0, 0%, 90%, 0.2);
    box-shadow: var(--shadow-md);
    border-radius: var(--base-border-radius);
    position: absolute;
    align-self: center;
    justify-self: center;
    top: 18rem;
}

.weather-main-bottom h3 {
    text-align: left;
    color: var(--light-color);
    text-shadow: var(--shadow-sm);
    padding-bottom: var(--base-padding-sm);
}

.weather-main-bottom li {
    list-style: none;
    color: var(--light-color);
    text-shadow: var(--shadow-sm);
    padding: var(--base-padding-sm);
}

/* WEATHER DETAILS STYLING */
.weather-details-container {
    background-color: var(--light-color);
    border-radius: var(--base-border-radius);
    display: grid;
    padding: var(--base-padding-lg);
    z-index: 1000;
    margin-top: 7rem;
}

.details-collapse {
    justify-self: center;
    margin-left: 0 !important;
    display: block;
    top: -20px;
    position: relative;
}

.weather-details-container h3 {
    text-align: left;
    color: var(--dark-color);
    padding-bottom: var(--base-padding);
    padding-top: var(--base-padding);
    display: flex;
    align-items: center;
}

.weather-details-container svg {
    align-self: center;
    margin-left: 1rem;
    height: 100%;
}

.weather-details-container .collapse {
    margin-left: auto;
    transform: rotate(180deg);
}


.weather-details-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: left;
}

.weather-details-container li {
    list-style: none;
    color: var(--dark-color);
}

.weather-details-hourly-carousel {
    background-color: var(--gray-color);
    border: 1px solid var(--base-border-color);
    border-radius: var(--base-border-radius);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: auto;
    column-gap: 1rem;
    padding: var(--base-padding);
    color: var(--dark-color);
    position: relative;
    box-shadow: var(--shadow-sm);
    margin-bottom: var(--base-padding-sm);

}

.hourly-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.current-time-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: red;
}

.weather-details-daily-carousel {
    background-color: var(--gray-color);
    border: 1px solid var(--base-border-color);
    border-radius: var(--base-border-radius);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: auto;
    column-gap: 1rem;
    padding: var(--base-padding);
    margin-bottom: var(--base-padding-sm);
    color: var(--dark-color);
    position: relative;
    box-shadow: var(--shadow-sm);
}

.daily-button-switch {
    margin: auto;
}

.daily-button-switch button {
    height: 3rem;
    width: 6rem;
}


.daily-button-switch button:first-child {
    background-color: var(--green);
    color: var(--light-color);
    padding: var(--base-padding-sm);
    border-radius: var(--base-border-radius);
    border: var(--base-border-style);
    border-color: var(--green-border);
    box-shadow: var(--shadow-sm);
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.daily-button-switch button:last-child {
    background-color: var(--gray-color);
    color: var(--dark-color);
    padding: var(--base-padding-sm);
    border-radius: var(--base-border-radius);
    border: 1px solid var(--base-border-color);
    box-shadow: var(--shadow-sm);
    text-align: center;
    align-items: center;
    justify-content: center;
}


.daily-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.reset-button {
    padding: var(--base-padding-sm);
    border-radius: var(--base-border-radius);
    text-align: center;
    width: 100%;
    font-weight: var(--small-font-weight);
    border-style: var(--base-border-style);
    border-color: var(--green-border);
    background-color: black;
    color: white;
    box-shadow: var(--shadow-md);
    font-weight: bold;
    margin-top: var(--base-margin);
    margin-bottom: var(--base-margin);
}

.weather-alerts-container {
    background-color: var(--gray-color);
    border: 1px solid var(--base-border-color);
    border-radius: var(--base-border-radius);
    overflow-x: auto;
    column-gap: 1rem;
    padding: var(--base-padding);
    color: var(--dark-color);
    position: relative;
    box-shadow: var(--shadow-sm);
    margin-bottom: var(--base-padding);
}

/* POLLEN COUNT */
.pollen-count-container {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.pollen-count-container p {
    margin-bottom: var(--base-padding-sm);
    padding: var(--base-padding-sm);
    color: var(--dark-color);
    height: 100%;
    align-items: center;
}

.pollen-count-container svg {
    margin-right: 1rem;
}

.tree-pollen {
    background-color: var(--green);
    border-radius: var(--base-border-radius);
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--low-color-border);
}

.grass-pollen {
    background-color: var(--green);
    border-radius: var(--base-border-radius);
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--low-color-border);
}

.weed-pollen {
    border-radius: var(--base-border-radius);
    box-shadow: var(--shadow-sm);
    background-color: #F3B06D;
    border: 1px solid var(--moderate-color-border);
}

.setrise-container {
    border-radius: var(--base-border-radius);
    overflow-x: auto;
    column-gap: 1rem;
    color: var(--dark-color);
    position: relative;
    margin-bottom: var(--base-padding);
}

.setrise-container p {
    padding: var(--base-padding-sm)
}

.set-rise-gradient {
    background: linear-gradient(to right, #FF512F, #F09819, #FF512F);
    height: 1rem;
    position: relative;
}

.setrise-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: red;
}

.hidden {
    display: none;
}

/* 768 PX */
@media screen and (min-width: 768px) {

    body {
        transform: scale(0.75); 
        transform-origin: 0 0; 
        width: 133.33vw;
        height: 133.33vw;
    }

    .main {
        transform-origin: 0 0;
        width: 100vw;

    }

    .background-gradient {
        background: linear-gradient(var(--primary-color), var(--secondary-color));
        height: 100%;

    }

    .weather-main-container {
        margin-left: 0;
        width: 35%;
    }

    .weather-main-bottom {
        background-color: var(--light-color);
        text-align: left;
        padding: var(--base-padding-lg);
        max-width: 100%;
        margin: 0 auto;
        background-color: hsla(0, 0%, 90%, 0.2);
        box-shadow: var(--shadow-md);
        border-radius: var(--base-border-radius);
        position: absolute;
        align-self: center;
        justify-self: center;
        top: 18rem;
    }

    .weather-details-container {
        background-color: var(--light-color);
        border-radius: var(--base-border-radius);
        display: grid;
        padding: var(--base-padding-lg);
        margin-top: 1rem;
        margin-left: 35%;
        background: hsla(0, 0%, 85%, 0.2);
        box-shadow: var(--shadow-md);
        grid-template-areas: 
            "weather-details weather-alerts pollen-count"
            "hourly-forecast hourly-forecast hourly-forecast"
            "daily-forecast daily-forecast daily-forecast"
            "sunrise-sunset sunrise-sunset sunrise-sunset";
        row-gap: 0rem;
        column-gap: 1rem;
        padding: var(--base-padding);
        width: 64%;
    }

    .weather-details-container h3, .weather-details-container li {
        color: var(--light-color);
        text-shadow: var(--shadow-sm);
    }

    .weather-details-container h3 {
        padding-top: 0;
    }

    .weather-details-daily {
        padding-bottom: var(--base-padding-sm);
    }

    .weather-details-daily h3 {
        padding-bottom: 0;
    }

    .weather-details-container {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .weather-alerts {
        grid-column: 2 / 3;
        grid-row: 1;
    }

    .weather-details-pollen-count {
        grid-column: 3 / 4;
        grid-row: 1;
    }

    .weather-details-hourly {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    .weather-details-daily {
        grid-column: 1 / 4;
        grid-row: 3;
    }

    .weather-details-set-rise {
        grid-column: 1 / 4;
        grid-row: 4;
    }

    .collapse, .details-collapse, .reset-button {
        display: none;
    }

    .reset-button-1024 {
        display: block;
        padding: var(--base-padding-sm);
        border-radius: var(--base-border-radius);
        text-align: center;
        font-weight: var(--small-font-weight);
        border-style: var(--base-border-style);
        border-color: var(--green-border);
        background-color: black;
        color: white;
        box-shadow: var(--shadow-md);
        font-weight: bold;
        margin-top: var(--base-margin);
        margin-bottom: var(--base-margin);
        width: 40%;
    }

    .daily-button-switch {
        height: auto;
    }

    .daily-button-switch button {
        width: 8rem;
        height: 3rem;
    }

    .weather-details-hourly-carousel, .pollen-count-container {
        margin-bottom: 0;
    }

    .pollen-count-container .weed-pollen p {
        margin-bottom: 0;
    }

    .setrise-container {
        background-color: var(--gray-color);
        box-shadow: var(--shadow-sm);
    }
    .faq {
        width: 30%;
        z-index: 2000;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        position: absolute;
        border-radius: 0 0 var(--base-border-radius) var(--base-border-radius);
        border: 1px solid var(--base-border-color);
        top: 3.2rem;
    }

    .settings {
        width: 30%;
        z-index: 2000;
        margin-left: auto;
        left: 0;
        right: 0;
        position: absolute;
        border-radius: 0 0 var(--base-border-radius) var(--base-border-radius);
        border: 1px solid var(--base-border-color);
        top: 3.2rem;
        grid: none;
    }

    .contact {
        width: 30%;
        z-index: 2000;
        margin-left: auto;
        left: 0;
        right: 0;
        position: absolute;
        border-radius: 0 0 var(--base-border-radius) var(--base-border-radius);
        border: 1px solid var(--base-border-color);
        top: 3.2rem;
        grid: none;
    }

    .weather-details-container path:not(.pollen-count-container path) {
        fill: white;
    }


}


